@function color-random(){
    $lista: red, blue,orange,yellow,green,pink,purple;
    @return nth($list: $lista, $n: random($limit: length($lista)));
}
%circulo{
    width: 50%;
    height: 10vw;
    border-radius: 50%;
    margin-top: 10px;
}
$color1:color-random();
$color2:color-random();
$color3-1:color-random();
$color3-2:color-random();
$color4:color-random();
main{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
main>div{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main>div>div{
    @extend %circulo;
}
main>div:nth-child(1)>div:nth-child(2){
    background-color: $color1;
}
main>div:nth-child(1)>div:nth-child(3){
    background-color: complement($color1);
}
main>div:nth-child(2)>div:nth-child(2){
    background-color: $color2;
}
main>div:nth-child(2)>div:nth-child(3){
    background-color: saturate($color2, 60%);
}
main>div:nth-child(3)>div:nth-child(2){
    background-color: $color3-1;
}
main>div:nth-child(3)>div:nth-child(3){
    background-color: $color3-2;
}
main>div:nth-child(3)>div:nth-child(4){
    background-color: mix($color3-1,$color3-2);
}
main>div:nth-child(4)>div:nth-child(2){
    background-color: $color4;
}
main>div:nth-child(4)>div:nth-child(3){
    background-color: grayscale($color4);
}