$letra-titulo:"Playfair Display", serif;
$letra-enlaces-botones:"Roboto", sans-serif;
$letra-titulos-plano: "Noto Sans", sans-serif;
$letra-titulos-plano-2: "Roboto Slab", serif;
$letra-titulos-secundarios:"Gowun Batang", serif;
$letra-bonita-corto: "Dancing Script", cursive;
$color-header-letra: rgb(53, 53, 53);
$color-header-letra-hover: rgb(0, 0, 0);
$valor:1;
@function returnColor(){
    $lista: ((rgba(255, 0, 0, 0.527),red),(rgba(251, 255, 0, 0.658),rgb(180, 180, 0)));
    @if random($limit: 4)== 1{
        @return nth($lista, random(2));
    } @else{
        @return null;
    }
   
}

main{
    margin-top: 200px;
    &>article{
        &>section:nth-child(1){
            min-height: 60vh;
            &>h2{
                font-family: $letra-titulos-secundarios;
            }
            &>div{
                &>div:nth-child(1){
                    &>img{
                        transition: 0.3s;
                        cursor: pointer;
                        &:hover{
                            transform: scale(102%);
                            transition: 0.3s;
                        }
                        &:active{
                            transform: scale(250%);
                            position: relative;
                            z-index: 4;
                            margin: auto;
                            transition: 1s;
                        }
                    }
                }
                &>div:nth-child(2){
                    &>h4{
                        font-family: $letra-titulos-plano;
                    }
                }
            }
        }
    }
}
select{
    background-color: white;
    border: solid 3px black ;
    font-family: $letra-enlaces-botones;
    height: 70px;
}
.diaOcupado{
    background-color: gray;
    color: white;
}
.calendario{
    width: 300px;
    position: relative;
}
.cerrar-reservar{
    position: absolute;
    top: -5px;
    right: 10px;
    cursor: pointer;
    &:hover{
        color: gray;
    }
}
.dias{
    &>div{
        width: 14.28%;
    }
    &:nth-child(3)>div:not(.diaOcupado){
        &{
            cursor: pointer;
        }
        &:hover{
            box-shadow: var(--bs-box-shadow) !important;
        }
        @for $i from 1 through 37{
            &:nth-child(#{$i}){
                $fondo-color:  returnColor();
                @if $fondo-color != null{
                    @if nth($fondo-color, 2 ) == red{
                        cursor:not-allowed;
                    }@else{
                        &:active{
                            background-color: rgb(128, 212, 128);
                            transition: 0.3s;
                        }
                    }
                    background-color: nth($fondo-color,1);
                    color: nth($fondo-color,2);
                } @else{
                    &:active{
                        background-color: rgb(128, 212, 128);
                        transition: 0.3s;
                    }
                }
            }
        }
        
    }
}
.cursor-pointer{
    cursor: pointer;
    color: gray;
    &:hover{
        color: $color-header-letra-hover;
    }
}
.hoy{
    background-color: blue;
    border-radius: 50%;
    color: white;
}
.reservar{
    width: 300px;
    background-color: black;
    color: white;
    font-family: $letra-enlaces-botones;
    border: 0;
    &:hover{
        background-color: rgb(39, 39, 39);
        box-shadow: var(--bs-box-shadow) !important;
    }

}