@mixin assignaturas($imagen, $texto,$position,$animacion){
    background-image: url($imagen);
    background-position: $position;
    background-repeat: no-repeat;
    @if $texto=='Pokemon'{
        background-size: contain;
    }@else{
        background-size: cover;
    }
    
    &::before{
        content: $texto;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2px;
    }
    &:hover{
        animation-name: ocultacion-img, $animacion;
        animation-duration: 4s;
        animation-timing-function: linear;
    }
    &:hover::before{
        content: '';
        background-color: rgba(0,0,0,0);
    }
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main{
    height: 100vh;
    color: white;
    background-color: rgb(3, 3, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h4,h1{
    margin-top: 30px;
    letter-spacing: 10px;
    &:hover{
        animation-name: titulos;
        animation-duration: 0.5s;
        animation-timing-function: linear;
    }
}
th{
    height: 75px;
    width: 150px;
}
table{
    background-color: white;
    border: solid 1px black;
    margin-top: 20px;
    border-spacing: 3px;
}
tr:nth-child(1)>th{
    background-color: rgb(82, 82, 161);
    font-size: 22px;
    &:hover>div{
        animation-name: cabecera-arriba;
        animation-duration: 1s;
        animation-timing-function: ease;
        
    }
}
@for $i from 0 through 7{
    $hijo: $i+2;
    tr:nth-child(#{$hijo})>th:nth-child(1){
        background-color: rgb(82, 82, 161);
        &::before{
            content: (10+$i)+':00-'+(11+$i)+':00';
        }
    }
    tr:nth-child(#{$hijo})>th:nth-child(1):hover{
        background-color: rgba(82, 82, 161, 0.1*($i+2));
    }
}
tr:not(:first-child)>th:not(:first-child){
    border: solid 1px black;
}
.godOf{
    @include assignaturas('https://m.media-amazon.com/images/I/81eIPZLdAaL._AC_UF1000,1000_QL80_.jpg','God Of War 2',top center,godOfWar)
}
.pokemon{
    @include assignaturas('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png','Pokemon', center,pokemon)
}
.assasins{
    @include assignaturas('https://i.blogs.es/6e03e1/mirage-/450_1000.webp','Assasins Creed',top center,assasins)
}
.spiderman{
    @include assignaturas('https://addons-media.operacdn.com/media/CACHE/images/themes/95/123395/1.0-rev1/images/d40b13ad-9468-4ebd-8a47-8a8ac1ee783b/66e4435cda17193b5b419081112e33dd.jpg','Spiderman',top center,spiderman)
}
.rached{
    @include assignaturas('https://i.pinimg.com/550x/1e/03/d2/1e03d2970d5996a154c5750018f7fb0c.jpg','Rached and Clank',top center,rached)
}
.ghost{
    @include assignaturas('https://media.es.wired.com/photos/6467a3fda566376ee967bc69/16:9/w_2560%2Cc_limit/GhostOfTsushima.jpeg','Ghost of tsushima',top center,ghost)
}
.stray{
    @include assignaturas('https://cdn.cloudflare.steamstatic.com/steam/apps/1332010/capsule_616x353.jpg','Stray',top center,stray)
}
.youtube{
    @include assignaturas('https://www.youtube.com/img/desktop/yt_1200.png','Youtube',top center,youtube)
}
.video{
    @include assignaturas('https://grupoaudiovisual.com/wp-content/uploads/2020/06/VFX-FX-Visual-Effects-Edicion-y-montaje-grupoaudiovisual.jpg','Edición de video',top center,video)
}
.patreon{
    @include assignaturas('https://1000logos.net/wp-content/uploads/2021/05/Patreon-logo-2013.png','Patreon', center,patreon)
}
.instagram{
    @include assignaturas('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1280px-Instagram_logo.svg.png','Instagram',center,insta)
}
.hora-de-comer{
    background-color: rgb(253, 0, 42);
    &::before{
        content:'😀HORA DE COMER😀';
        color: black;
    }
    &:hover{
        animation-name: hora-de-comer;
        animation-duration: 4s;
        animation-timing-function: ease;
    }
}
@keyframes video {
    to{
        filter: drop-shadow(16px 16px 20px red);

    }
}
 @keyframes insta {
    from{
        background-position: top right;
    }
    to{
        background-position: bottom left;
    }
 }
 @keyframes stray {
    from{
        mask-image: url('https://seeklogo.com/images/S/stray-logo-62B15531AF-seeklogo.com.png');
        mask-size: 200%;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-mode: luminance;
    }
    to{
        mask-image: url('https://seeklogo.com/images/S/stray-logo-62B15531AF-seeklogo.com.png');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: 100%;
        mask-mode: alpha, match-source;
    }
}
@keyframes youtube {
    to{
        background-position: center;
        filter: blur(5px);
    }
}
@keyframes patreon {
    to{
        filter: hue-rotate(90deg);
    }
}
@keyframes ghost {
    to{
        filter: grayscale(80%);
    }
}
@keyframes godOfWar {
    from{
        background-position: top center;
    }
    to{
        background-position: bottom center;
    }
}
@keyframes pokemon {
    from{
        background-size: 150%;
        background-position-x: -50%;
    }
    to{
        background-size: 150%;  
        background-position-x: 150%;
    }
}
@keyframes spiderman {
    0% {
        background-size: 100%;
    }
    100% {
        background-position: center 20%;
        background-size: 150%;
    }
}
@keyframes rached {
    from{
        filter: none;
    }
    to{
        filter: invert(150%);
    }
}
@keyframes assasins {
    0%{
        mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 90%);
    }
    25%{
        mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 85%);
    }
    50%{
        mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 80%);
    }
    75%{
        mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 75%);
    }
    100%{
        mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 0.5) 70%);
    }
}


@keyframes ocultacion-img {
    from{
        transform: scale(100%);
    }
    to{
        transform-origin: top;
        transform: scale(120%) translateY(10px);
    }
}


@keyframes hora-de-comer {
    0%,19%{
        background-color: rgb(253, 0, 42);
    }
    20%,39%{
        background-color: aqua;
    }
    40%,59%{
        background-color: greenyellow;
    }
    60%,79%{
        background-color: red;
    }
    80%,99%{
        background-color: orange;
    }
    100%{
        background-color: rgb(253, 0, 42);
    }

}
@keyframes  titulos{
    0%{
        transform: scale(100%);
    }
    10%{
        transform: scale(70%);
    }
    100%{
        transform: scale(100%);
    }
}
@keyframes  cabecera-arriba{
    0%{
        transform: scaleX(100%);
    }
    10%{
        filter: blur(4px);
        transform: scaleX(1%);
    }
    100%{
        transform: scaleX(100%);
    }
}