body>main{
    overflow: scroll;
    overflow-x: hidden;
    animation-name: salir-main;
    animation-duration: 8s;
    height: 100vh;   
    background-color: black;
    position: absolute;
    top: 0;
}

aside>h4{
    color: white;
    animation-name: mover-h4;
    animation-duration: 8s;
    animation-delay: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
section:nth-child(3)>img{
    border-radius: 0px    0px var(--bs-border-radius) var(--bs-border-radius);
    height: 25vw;
    transition: 0.5s;
}
section:nth-child(1)>img{
    border-radius: var(--bs-border-radius) var(--bs-border-radius) 0px  0px  ;
    height: 25vw;
    transition: 0.5s;
}
section>img:hover{
    transition: 0.5s;
    filter: grayscale(80%);
}
section>h2{
    font-family:  arial;
    color: red;
    letter-spacing: 3px;
}
section>p{
    font-family: arial;
    color: white;
    font-size: small;
}
article{
    background-color: gray;
    border: solid 1px gray;
    width: 49%;
}

@keyframes salir-main{
    0%{
       opacity: 0;
    }
   
    99%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
nav{
    height: 10%;
    background-color: gray;
}
nav>a{
    color: white;
    text-decoration: none;
}
nav>a:hover{
    animation-name: enlaces;
    animation-duration: 1s;
    animation-timing-function: ease;
}
@keyframes mover-h4 {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(300%);
    }
}
@keyframes enlaces {
    60%{
        transform: scaleX(120%) scaleY(80%);
    }
    80%{
        transform: scaleX(80%) scaleY(120%);
    }
    100%{
        transform: scaleX(100%) scaleY(100%);
    }

}