.sombra{
    filter: drop-shadow(4px 7px 10px rgb(163, 163, 163));
}
.h1size{
    font-size: 2.5vw;
    color: rgb(15, 15, 15);
    font-family: 'Bebas Neue', sans-serif;
}
.botones{
    background-color: rgb(161, 161, 161);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    font-size: 1vw;
}
.botones>a:not(.inicio){
    color: rgb(53, 53, 53);
    background-color: rgb(161, 161, 161);
    text-decoration: none;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
}
.botones>a:not(.inicio):hover{
    color: rgb(36, 36, 36);
    text-decoration: underline;
}
.inicio{
    background-color: black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 10px;
    width: 7vw;
    text-align: center;
    color: white;
    text-decoration: none;
    
}
.inicio:hover{
    background-color: rgb(44, 44, 44);
    transition: 0.4s;
}
header{
    background-color: white;
}
.size{
    font-size: 1vw;
}